<!DOCTYPE html>
<html> 
<head>
    <title>Create Post</title>  
</head>  
<body>
    <h2>Create New Post</h2>

    <form method="POST">
        <input type="hidden" name="csrf_token" value="{{ csrf_token() }}">
        <label>Title: <input type="text" name="title" placeholder="Post Title" required></label><br>
        <Label>Content:<br><textarea name="content" placeholder="Post Content" required></textarea></Label><br>
        <button type="submit">Create Post</button>
    </form>
    <p><a href="/">Back to Home</a></p>
</body>
</html>